main {
    background-image: url("../assets/FullBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 4.5rem);
}

.register {
    background-color: rgb(255, 255, 255,0.95);
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 25%;
}
.register h2{
    color: var(--color-gray-1);
    font: 700 2.5rem Inter, sans-serif;
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
